*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.nav-items{
    display: flex;
    gap: 40px;
    padding-left: 120px;
}
.signin-btn{
    width: 100px;
    height: 30px;
    background: linear-gradient(90deg,#6d69fe ,#00cfdd );
    border: 0px;
    border-radius: 20px;
}
.intro-section{
    padding: 100px 0px 0px 100px;
    width: 40%;   
    display: flex;
}
.left-section h1{
    font-size: 55px;
    color: #4915a8;
    font-weight: 600;
}
.left-section p{
    padding: 25px 0px;
    font-size: 16px;
    text-wrap: wrap;
    word-spacing: 2px;
    text-justify: auto;
}
.learn-more-btn{
    width: 200px;
    height: 40px;
    background: linear-gradient(90deg,#6d69fe ,#00cfdd );
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}
.imgs-div{
    width:650px;
    height: 650px;
    background-color: skyblue;
    border-radius: 0px 0px 0px 80px;
    z-index: -1;
    position: fixed;
    top: -150px;
    right: -60px;
    transform: rotate(-10deg);
}
img[alt="intro-img"]{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -40px;
    left: -30px;
}
.vector-img{
  position: fixed;
  width: 50px;
  left: -130px;
  bottom: 55px;
}
.vector-dot{
  height: 10px;
  width: 10px;
  position: fixed;
  left: -100px;
  bottom: 100px;
}